body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.tela {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100%; 
}

.lado-esquerdo {
  background-color: #0A1A37; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo-grande {
  max-width: 80%;
  height: auto;
}

.lado-direito {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.form-container {
  width: 100%;
  max-width: 750px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-top: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button[type="reset"] {
  background-color: #ccc;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}
